button {
  border-radius: 3px 3px 0px 0px;
  background-color: #424242;
  width: 200px;
}

.buttonSelected {
  background-color: #e4e4e4;
  color: black;
}

.header {
  background-image: url(../../assets/images/Mountian.svg);
  background-color: #171717;
  background-position-x: 245px;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 450px;
  height: 100px;
}

.headerMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.headerExclamation {
  font-family: fantasy;
  font-size: 3rem;
  font-weight: 600;
}

.headerLogo {
  font-family: fantasy;
  font-size: 2.5rem;
  font-weight: 600;
}

.headerLogoContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.headerNavigation {
  align-self: end;
  margin-bottom: -23px;
  text-align: end;
}

.headerSubtext {
  font-family: roboto;
  font-size: 1.2rem;
  line-height: 10px;
  text-align: center;
}
