input {
  border: 1px solid black;
  border-radius: 3px;
  height: 26px;
  margin-bottom: 10px;
  padding: 0 8px;

  &.ng-invalid.ng-dirty {
    background-color: rgb(255, 211, 211);
  }
}

textArea {
  border: 1px solid black;
  border-radius: 3px;
  height: 60px;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;

  &.ng-invalid.ng-dirty {
    background-color: rgb(255, 211, 211);
  }
}

.cityInput {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  height: 28px;
  margin-bottom: 10px;
  padding: 0 8px;;
  width: 318px;
}

.imageUploader {
  border: none;
  margin-top: 10px;
  padding: 0;
}

.newEventModalButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;

  & button {
    background-color: #4d4d4d;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    height: 35px;
    width: 110px;

    &:hover {
      cursor: pointer;
      background-color: #3a3a3a;
    }

    &:focus {
      background-color: #4d4d4d;
    }

    &.inactive {
      background-color: #979797;
      &:hover {
        cursor: default;
      }
    }
  }
}

.newEventForm {
  & label {
    display: block;
  }
}

.newEventTags {
  display: flex;
  flex-direction: row;

  & .mat-checkbox {
    margin: 0 5px;
  }
}

.streetInput {
  width: 300px;
}

.titleInput {
  width: 300px;
}

.userFeedback {
  color: rgb(255, 110, 110);
  margin-top: -8px;
}

::ng-deep .newEventTags .mat-checkbox-frame {
  border: 1px solid black !important;
}
