<app-modal-wrapper [closeOnClickOut]="true" [modalTitle]="'New Logan Events'" id="newEventModal">
  <form class="newEventForm" [formGroup]="newEventForm">
    <label for="eventName">Title *</label>
    <input class="titleInput" name="eventName" type="text" [(ngModel)]="newEventTitle" formControlName="eventName">
    <div class="userFeedback" *ngIf="newEventForm.controls['eventName'].invalid && newEventForm.controls['eventName'].dirty">*required</div>

    <label for="eventStreet">Street *</label>
    <input class="streetInput" name="eventStreet" type="text" formControlName="eventStreet" id="autocomplete">
    <div class="userFeedback" *ngIf="newEventForm.controls['eventStreet'].invalid && newEventForm.controls['eventStreet'].dirty">*required</div>

    <label for="eventSuite">Suite/Apt (optional)</label>
    <input class="streetInput" name="eventSuite" type="text" formControlName="eventSuite" id="autocomplete">

    <label for="eventStreet">City *</label>
    <select class="cityInput" name="eventCity" type="text" formControlName="eventCity" id="autocomplete" type="">
      <option value="Logan">Logan</option>
      <option value="North Logan">North Logan</option>
      <option value="Smithfield">Smithfield</option>
      <option value="Hyde Park">Hyde Park</option>
      <option value="Hyrum">Hyrum</option>
      <option value="Providence">Providence</option>
      <option value="Wellsville">Wellsville</option>
    </select>
    <div class="userFeedback" *ngIf="newEventForm.controls['eventCity'].invalid && newEventForm.controls['eventCity'].dirty">*required</div>

    <label for="eventDescription">Description</label>
    <textarea name="eventDescription" id="" cols="50" rows="3" formControlName="eventDescription"></textarea>
    <div class="userFeedback" *ngIf="newEventForm.controls['eventDescription'].invalid && newEventForm.controls['eventDescription'].dirty">*required</div>

    <label for="eventDate">Event Date *</label>
    <input name="eventDate" type="date" formControlName="eventDate">
    <div class="userFeedback" *ngIf="newEventForm.controls['eventDate'].invalid && newEventForm.controls['eventDate'].dirty">*required</div>

    <label for="eventImage">Image</label>
    <input class="imageUploader" name="eventImage" type="file" formControlName="eventImage" id="eventImage" accept=".jpg, .jpeg, .png">
    <div class="userFeedback" *ngIf="newEventForm.controls['eventImage'].invalid && newEventForm.controls['eventImage'].dirty">*required</div>

    <label for="eventWebsite">Website</label>
    <input name="eventWebsite" type="url" formControlName="eventWebsite">

    <div class="newEventTags" formGroupName="eventTags">
      <div>
        <mat-checkbox class="checkboxItem" formControlName="tagAlcohol">Alcohol</mat-checkbox>
        <mat-checkbox class="checkboxItem" formControlName="tagCatFriendly">Cat Friendly</mat-checkbox>
        <mat-checkbox class="checkboxItem" formControlName="tagCoffee">Coffee</mat-checkbox>
      </div>
      <div>
        <mat-checkbox class="checkboxItem" formControlName="tagDogFriendly">Dog Friendly</mat-checkbox>
        <mat-checkbox class="checkboxItem" formControlName="tagFreeEvent">Free Event</mat-checkbox>
        <mat-checkbox class="checkboxItem" formControlName="tagKidFriendly">Kid Friendly</mat-checkbox>
      </div>
      <mat-checkbox class="checkboxItem" formControlName="tagOutdoorsEvent">Outdoors Event</mat-checkbox>
    </div>
  </form>

  <div class="newEventModalButtons">
    <button (click)="onToggleNewEventModal()">Cancel</button>
    <button [ngClass]="{'inactive': newEventForm.invalid}" (click)="onPostIt()">Post It</button>
  </div>
</app-modal-wrapper>
