.containerMain {
  margin-right: -15px;
  margin-top: -15px;
  width: 35vw;
}

.map-container {
  filter: saturate(1.5);
  height: calc(100% - 106px);
  overflow: visible;
  position: fixed;
  width: inherit;
}

.map-container:before {
  box-shadow: inset 3px 3px 8px -6px black;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  width: inherit;
  z-index: 1000;
}
