<app-modal-wrapper id="postAsGuestModal" [modalTitle]="'Post As Guest'">
  <form class="contactForm" action="" [formGroup]="postAsGuestForm">

    <h3>Name</h3>

    <label for="hostFirstName">First Name</label>
    <input name="hostFirstName" type="text" formControlName="hostFirstName">

    <label for="hostLastName">Last Name</label>
    <input name="hostLastName" type="text" formControlName="hostLastName">

    <mat-checkbox class="checkboxItem" formControlName="hostHideName">Hide My Name</mat-checkbox>

    <label for="hostBusinessName">Business Name (optional)</label>
    <input name="hostBusinessName" type="text" formControlName="hostBusinessName">

    <h3>Contact Info</h3>

    <label for="hostEmail">Email</label>
    <input name="hostEmail" type="text" formControlName="hostEmail">

    <mat-checkbox class="checkboxItem" formControlName="hostHideEmail">Hide My Email</mat-checkbox>

    <label for="hostPhone">Phone</label>
    <input name="hostPhone" type="text" formControlName="hostPhone">

    <mat-checkbox class="checkboxItem" formControlName="hostHidePhone">Hide My Phone Number</mat-checkbox>
    <div class="buttonDiv">
      <button (click)="onBack()">Back</button>
      <button (click)="onPost()">Post It</button>
    </div>
  </form>

  <hr>
  <h3>Or..</h3>
  <button (click)="onToggleSignInModal()">Sign In</button>
</app-modal-wrapper>
