<div class="containerMain">
  <div id="mediaSearchHeader" class="containerRow1">
    <div id="mediaSearchCol1" class="col1">
      <div class="headerLogoContainer">
        <div>
          <span class="headerLogo">Yolo Logan</span>
          <span class="headerExclamation">!</span>
        </div>
        <div class="headerSubtext">
          Logan Utah Lifestyle
        </div>
      </div>
      <mat-button-toggle-group class="pageToggle" name="pageToggle" aria-label="Font Style">
        <mat-button-toggle class="pageToggleButton" value="eventsAndGroups" checked="true">Events & Groups</mat-button-toggle>
        <mat-button-toggle class="pageToggleButton" value="communityResources">Community Resources</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col2">
        <input (keydown.enter)="onSearchClick()" (keydown.return)="onSearchClick()" id="searchBar" [(ngModel)]="searchString" (keyup)="onSearchString()" type="text">
        <button *ngIf="!isMobileDisplay" (click)="onSearchClick()" class="searchButton"></button>
    </div>
  </div>
  <div id="mediaMobileToolToggles" class="mobileButtonToggles">
    <img (click)="onMobileToolToggle('filter')" src="../../assets/images/filterIcon.svg" alt=""
     [ngClass]="{'mobileButtonToggleSelected': mobileToolSelected === 'filter', 'inactiveIcon': !someFilterApplied}">
    <img (click)="onMobileToolToggle('sort')" src="../../assets/images/sortIcon.svg" alt=""
     [ngClass]="{'mobileButtonToggleSelected': mobileToolSelected === 'sort'}">
    <img (click)="onMobileToolToggle('map')" src="../../assets/images/mapIcon.svg" alt=""
     [ngClass]="{'mobileButtonToggleSelected': mobileToolSelected === 'map'}">
  </div>
</div>
