.col1 {
  align-self: center;
  padding-left: 45px;
  text-align: center;
}

.col1 p{
  margin: 0;
}

.col2 {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

.col3 {
  align-self: center;
  padding-right: 45px;
  text-align: center;
}

.containerMain {
  background-color: white;
  padding: 25px;
}

.containerRow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerExclamation {
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.headerLogo {
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: -1px 1px 3px #afafaf;
}

.headerLogoContainer {
  margin-bottom: 20px;
}

.headerSubtext {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 10px;
  margin-top: 3px;
  text-align: center;
}

.mobileButtonToggles {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 15px;

  img {
    height: 15px;
    padding: 5px 20px;
  }
}

.pageTitle {
  font-weight: bold;
}

.pageToggle {
  font-weight: 500;
  font-size: .8rem;
  height: 32px;
}

.pageToggleButton {
  display: flex;
  align-items: center;
}

#searchBar {
  border: solid 1px #afafaf;
  border-radius: 3px;
  box-shadow: 0 2px 18px #00000026;
  font-size: 1rem;
  height: 48px;
  max-width: 365px;
  padding-left: 18px;
  width: 100%;
}

#sortSelect {
  height: 25px;
}

.mat-button-toggle{
  background-color: #888888;
  border: solid 1px #212121;
  color: #ffffff;
}

.mat-button-toggle-checked{
  background-color: #212121;
}
