<mat-drawer-container class="containerMain">
  <mat-drawer class="containerFilter" mode="side" opened>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
    <div>
      Filters
    </div>
  </mat-drawer>
  <mat-drawer-content class="containerList">
    <div>
      More Content
    </div>
    <div>
      More Content
    </div>
    <div>
      More Content
    </div>
    <div>
      More Content
    </div>
  </mat-drawer-content>
</mat-drawer-container>
