hr {
  border-color: #808080;
}

.addEventButton {
  background-color: rgb(221, 221, 221);
  border-radius: 0 3px 3px 0;
  border: 0;
  border-right: 1px solid black;
  font-weight: 500;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100px;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.addEventDiv {
  background-color: white;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  height: 35px;
  position: relative;
  width: 98%;
}

.addEventLabel {
  color: black;
  font-weight: 500;
  line-height: 34px;
  padding-left: 10px;
}

.addEventTextInput {
  border: 1px solid #afafaf;
  margin-left: 10px;
  height: 70%;
  width: 50%;
}

.buttonClosePanel {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: #c6c6c6;
  font-weight: bold;
  margin-bottom: 10px;
  &:hover {
    background-color: grey;
    color: black;
    cursor: pointer;
  }
}

.buttonOpenPanel {
  background-color: #0000008c;
  border: none;
  border-radius: 20px;
  color: white;
  height: 20px;
  position: absolute;
  width: 40px;
  z-index: 500;
  &:hover {
    background-color: #000000c2;
    cursor: pointer;
  }
}

.containerEvents {
  height: 160%;
  width: 100%;
}

.containerFilter {
  padding: 30px;
  width: 180px;
}

.containerList {
  display: flex;
  flex-direction: row;
  overflow: overlay;
  padding: 15px 0px;
  scrollbar-gutter: stable both-edges;
}

.containerMain {
  height: calc(100vh - 151px);
}

.checkboxItem {
  display: block;
  padding-left: 12px;
}

.filterForm {
  overflow: hidden;
}

.mobileCloseIcon {
  background-color: #0000005c;
  border-radius: 4%;
  border-width: 0;
  bottom: 0;
  color: white;
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
  padding: 10px 10px;
  position: absolute;
  right: 12px;
  text-align: center;
  width: 80px;
  z-index: 100;
}
