<app-search-bar></app-search-bar>
<app-new-event-modal></app-new-event-modal>
<app-sign-in-modal></app-sign-in-modal>
<app-post-as-guest-modal></app-post-as-guest-modal>
<app-successful-post-modal></app-successful-post-modal>

<mat-drawer-container class="containerMain">
  <mat-drawer id="mediaContainerFilter" class="containerFilter" mode="side" opened={{sidePanelIsOpen}} *ngIf="(!isMobileDisplay) || (isMobileDisplay && mobileToolSelected === 'filter')">
    <button *ngIf="!isMobileDisplay" class="buttonClosePanel" (click)="onToggleSidePanel()"><<</button>
    <section class="filterForm" [formGroup]="checkboxFilters">
      <mat-checkbox class="checkboxItem" formControlName="kidFriendly" [disabled]="false">Kid Friendly</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="adultsOnly">Adults Only</mat-checkbox>
      <hr>
      <mat-checkbox class="checkboxItem" formControlName="freeEvent">Free Event</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="paidEvent">Paid Event</mat-checkbox>
      <hr>
      <mat-checkbox class="checkboxItem" formControlName="oneTimeEvent">One Time Event</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="weeklyEvent">Weekly Event</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="monthlyEvent">Monthly Event</mat-checkbox>
      <hr>
      <mat-checkbox class="checkboxItem" formControlName="dogFriendly">Dog Friendly</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="catFriendly">Cat Friendly</mat-checkbox>
      <hr>
      <mat-checkbox class="checkboxItem" formControlName="coffee">Coffee</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="noCoffee">No Coffee</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="alcohol">Alcohol</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="noAlcohol">No Alcohol</mat-checkbox>
      <hr>
      <mat-checkbox class="checkboxItem" formControlName="outdoors">Outdoors</mat-checkbox>
      <mat-checkbox class="checkboxItem" formControlName="indoors">Indoors</mat-checkbox>
    </section>
  </mat-drawer>
  <mat-drawer-content class="containerList">
    <div id="mediaContainerEvents" class="containerEvents" [ngStyle]="{'display': (!isMobileDisplay) || (isMobileDisplay && mobileToolSelected === 'main') ? 'initial':'none'}">
      <button class="buttonOpenPanel" *ngIf="!sidePanelIsOpen" (click)="onToggleSidePanel()">>></button>
      <div id="mediaAddNewEvent" class="addEventDiv">
        <span class="addEventLabel">Add a new event:</span>
        <input class="addEventTextInput" type="text" name="" id="" placeholder="event name" [(ngModel)]="newEventTitle">
        <button class="addEventButton" (click)="onToggleNewEventModal()">Create!</button>
      </div>

      <app-event-tile></app-event-tile>

    </div>
    <div>
      <app-map [ngStyle]="{'display': (!isMobileDisplay) || (isMobileDisplay && mobileToolSelected === 'map') ? 'initial':'none'}"></app-map>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

<div *ngIf="mobileToolSelected != 'main'" (click)="deselectMobileTool()" class="mobileCloseIcon">Close</div>
