hr {
  border-color: #808080;
}

.containerMain {
  height: calc(100vh - 151px);
}

.containerList {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.containerFilter {
  padding: 30px;
  width: 300px;
}

.checkboxItem {
  display: block;
  padding-left: 12px;
}
