<div *ngFor="let event of events; let first = first; let last = last;">
  <div class="containerMain" [ngClass]="{'firstInList': first, 'lastInList': last}">
    <div class="columnLeft">
      <img src="{{event.imageURL? event.imageURL : 'assets/images/imgPlaceHolder.png'}}" alt="Image Of Event">
    </div>
    <div class="verticalLine">
    </div>
    <div class="columnRight">
      <h2 class="title" [innerHTML]="event.title | highlightText:searchString"></h2>
      <!-- <p> Hosted by: <span [innerHTML]="event.contactInfo.firstName + ' ' + event.contactInfo.lastName | highlightText:searchString"></span>
        <span *ngIf="event.contactInfo.business" [innerHTML]="', ' + event.contactInfo.business | highlightText:searchString"></span></p> -->

        <!-- <p>{{event.address.street + ' ' + event.address.city + ', ' + event.address.state + ' ' + event.address.zip}}
          <a target="_blank" href="{{'https://www.google.com/maps/place/' + event.address.street + ', ' + event.address.city + ', ' + event.address.state + ', ' + event.address.zip}}">
            View Map</a></p> -->

            <p class="date">{{event.date | date}}</p>

      <!-- <p [innerHTML]="event.description | highlightText:searchString"></p> -->

      <div class="propertiesContainer">
        <span *ngFor="let property of event.properties; first as isFirst">
          <span>·</span>
          {{property | titlecase}}
        </span>
      </div>
    </div>
  </div>
</div>
