/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ol/ol.css";

html, body { height: 100%; }
body {
  background-color: rgba(32,33,36,1) !important;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: fit-content;
  width: 100vw;
}

// Map Styles
.ol-zoom-in {
  height: 40px !important;
  width: 40px !important;
}

.ol-zoom-out {
  height: 40px !important;
  width: 40px !important;
}


/* mobiles (landscape and portrait) */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  #mediaContainerEvents {
    margin: 10px;
  }

  #mediaContainerFilter {
    display: none;
    width: 100% !important;
  }

  #mediaMapContainerMain {
    display: none;
    width: 100% !important;
  }

  #mediaSearchHeader {
    flex-direction: column;

    .col1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      width: 100%;
    }

    .col2 {
      width: 100%;

      input {
        max-width: none;
        // padding: 0;
        width: 85vw;
      }
    }

    .headerLogo {
      font-size: 1.4rem;
    }

    .headerExclamation {
      font-size: 1.6rem;
    }

    .headerSubtext {
      font-size: .7rem;
    }

    .pageToggle {
      font-size: .7rem;
      height: fit-content;

      span {
        line-height: 1.2;
        padding: 4px;
        white-space: pre-wrap;
      }
    }

    .pageToggleButton {
      width: 80px;
    }
  }

  #mediaViewFilter {
    display: block;
  }

  #mediaViewMap {
    display: block;
  }
}
